.menu {
  height: 40px;
  margin-bottom: 10px;
  background-color: #dadada;
}

.menu ul {
  display: flex;
  height: 100%;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  list-style: none;
}
