.menu ul {
  display: flex;
  padding: 10px 0;
  border: 3px solid rgb(129, 170, 180);
  list-style: none;
}

.menu ul li {
  text-align: center;
  width: 100%;
  background-color: #326163;
}

.menu ul .active-menu {
  background-color: rgb(129, 170, 180);
}
