.content_item2 {
  background-color: #dadada;
}

.information-block {
  padding: 10px;
}
.information-block .block1 {
  margin-bottom: 10px;
}

.information-block .block1 img {
  width: 220px;
  height: 180px;
  border-radius: 5%;
  margin-right: 10px;
}
