.App {
  max-width: 80%;
  margin: 0 auto;
}
.content {
  margin-bottom: 10px;
}

.button-next button {
  width: 100%;
  color: white;
  font-size: large;
  height: 60px;
  background-color: #326163;
  cursor: pointer;
  border: 2px solid rgb(129, 170, 180);
}

.button-next .button {
  background-color: #69696996;
  color: #5a5a5ada;
  cursor: not-allowed;
  border: 2px solid rgb(89, 90, 90);
}
